@import url('https://fonts.googleapis.com/css?family=Quicksand:700&display=swap');

@font-face {
    font-family: 'pricedownblack';
    src: url('pricedown_bl-webfont.woff2') format('woff2'), url('pricedown_bl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gta-ui';
    src: url('gta-ui.ttf');
}

@font-face {
    font-family: 'pdown';
    src: url('pdown.ttf');
}

html {
    overflow: hidden;
}

p {
    margin: 0 !important;
}

.money-container {
    position: absolute;
    right: 5vw;
    top: 7vh;
}

#cash {
    color: white;
}

.money-cash, .money-bank {
    display: none;
    float: right;
    font-family: 'pdown';
    font-weight: 400;
    font-size: 29px;
    color: white;
    padding: 4px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin: 0;
    margin-right: 6px;
    margin-top: 6px;
    padding: 0;
}

.money-cash {
    color: rgb(210, 210, 210);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: right;
}

.money-bank {
    color: rgb(167, 167, 167);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: right;
    top: 55px;
}

#plus-changeamount {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: right;
    color: #F0F0F0;
}

#minus-changeamount {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: right;
    color: #F0F0F0;
}

.minus {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: right;
    color: #801E1F;
}

.munnie {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: right;
    color: #277418;
}

.moneyupdate {
    float: right;
    padding-left: 0.5vw;
}

.plus {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: right;
    color: #277418;
}

/* Player Hud Styling */

.ui-container {
    display: none;
    font-size: 40px;
    overflow: hidden;
    font-family: 'Quicksand';
}

.health {
    left: 2.55vw;
    position: absolute;
    bottom: 0vh;
}

#health-icon {
    position: absolute;
    left: 1.95vw;
    bottom: 1.4vh;
    font-size: 19px;
    color: white;
    z-index: 1;
}

.armor {
    left: 6.3vw;
    position: absolute;
    bottom: 0vh;
}

#armor-icon {
    position: absolute;
    left: 5.35vw;
    bottom: 1.4vh;
    font-size: 19px;
    color: white;
    z-index: 1;
}

.hunger {
    left: 3.75vw;
    position: absolute;
    bottom: 0vh;
}

#hunger-icon {
    position: absolute;
    left: 3.15vw;
    bottom: 1.5vh;
    font-size: 19px;
    color: white;
    z-index: 1;
}

.thirst {
    left: 5.0vw;
    position: absolute;
    bottom: 0vh;
}

#thirst-icon {
    position: absolute;
    left: 4.4vw;
    bottom: 1.4vh;
    font-size: 19px;
    color: white;
    z-index: 1;
}

.stress {
    left: 7.5vw;
    position: absolute;
    bottom: 0vh;
}

#stress-icon {
    position: absolute;
    left: 6.5vw;
    bottom: 1.4vh;
    font-size: 19px;
    color: white;
    z-index: 1;
}

.voice {
    position: absolute;
    left: 1.3vw;
    bottom: 0vh;
}

#voice-icon {
    position: absolute;
    left: 0.95vw;
    bottom: 1.4vh;
    font-size: 19px;
    color: white;
    z-index: 1;
}

.oxygen {
    left: 11.09vw;
}

.progress {
    -webkit-transition: 0.35s stroke-dashoffset;
    -o-transition: 0.35s stroke-dashoffset;
    transition: 0.35s stroke-dashoffset;
    -webkit-transform: rotate(140deg);
    -ms-transform: rotate(140deg);
    transform: rotate(140deg);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

/* Carhud Styling */

.ui-car-container {
    display: none;
}

.ui-car-speed, .ui-car-fuel, .ui-car-nos {
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    position: absolute;
    text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.548), 1px 1px 2px rgba(0, 0, 0, 0.548), 1px -1px 0 rgba(0, 0, 0, 0.548), -1px -1px 0 rgba(0, 0, 0, 0.548);
    color: #FFFFFF;
    bottom: 3.8vh;
}

.ui-car-speed {
    left: 17vw;
}

.speed-type {
    position: relative;
    left: 0.3vw;
    bottom: 0.6vh;
    font-size: 10px;
    text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.548), 1px 1px 2px rgba(0, 0, 0, 0.548), 1px -1px 0 rgba(0, 0, 0, 0.548), -1px -1px 0 rgba(0, 0, 0, 0.548);
}

.ui-car-fuel {
    left: 20.5vw;
}

.fuel-label {
    position: relative;
    left: 0.2vw;
    bottom: 0.6vh;
    font-size: 10px;
    text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.548), 1px 1px 2px rgba(0, 0, 0, 0.548), 1px -1px 0 rgba(0, 0, 0, 0.548), -1px -1px 0 rgba(0, 0, 0, 0.548);
}

.speed-text, .fuel-text {
    color: rgba(255, 255, 255, 1.0);
    font-size: 18px;
}

.ui-car-nos {
    left: 23.7vw;
}

.nos-label {
    position: relative;
    left: 1.9vw;
    bottom: 0.8vh;
    font-size: 10px;
    text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.548), 1px 1px 2px rgba(0, 0, 0, 0.548), 1px -1px 0 rgba(0, 0, 0, 0.548), -1px -1px 0 rgba(0, 0, 0, 0.548);
}

.nos-text {
    height: 12px;
    color: rgba(255, 255, 255, 1.0);
    font-size: 18px;
}

.ui-car-street {
    font-size: 15px;
    position: absolute;
    bottom: 1.15vh;
    left: 17vw;
    text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.548), 1px 1px 2px rgba(0, 0, 0, 0.548), 1px -1px 0 rgba(0, 0, 0, 0.548), -1px -1px 0 rgba(0, 0, 0, 0.548);
    color: #FFFFFF;
}

.sep {
    color: rgba(232, 185, 14, 1.0);
}

.ui-car-seatbelt, .ui-car-cruise {
    font-size: 14px;
    position: absolute;
    color: red;
}

.ui-car-seatbelt {
    left: 17vw;
    bottom: 7vh;
}

.ui-car-cruise {
    left: 20.4vw;
    bottom: 7vh;
}