@import url('https://fonts.googleapis.com/css?family=Quicksand:700&display=swap');

@font-face {
    font-family: 'pricedownblack';
    src: url('pricedown_bl-webfont.woff2') format('woff2'),
         url('pricedown_bl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gta-ui';
    src: url('gta-ui.ttf');
}

@font-face {
    font-family: 'pdown';
    src: url('pdown.ttf');
}

html {
    overflow: hidden;
}

p {
    margin: 0 !important;
}

.money-container {
    position: absolute;
    right: 5vw;
    top: 7vh;
}

#cash {
    color: white;
}

.money-cash,.money-bank {
    display: none;
    float:right;
    font-family: 'pdown';
    font-weight: 400;
    font-size: 29px;
    color: white;
    padding: 4px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin: 0;
    margin-right: 6px;
    margin-top: 6px;
    padding: 0;
}

.money-cash {
    color: rgb(210, 210, 210);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: right;
}

.money-bank {
    color: rgb(167, 167, 167);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: right;
    top: 55px;
}

#plus-changeamount {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: right;
    color: #f0f0f0;
}

#minus-changeamount {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: right;
    color: #f0f0f0;
}

.minus {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: right;
    color: #801e1f;
}

.munnie {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: right;
    color: #277418;
}

.moneyupdate {
    float: right;
    padding-left: 0.5vw;
}

.plus {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: right;
    color: #277418;
}

.ui-container {
    display: block;
    font-size: 40px;
    overflow: hidden;
    font-family: 'Quicksand';
}

.fas {
    position: absolute;
    height: 2vh;
    bottom: -1.7vh;
    left: 0.9vh;
    z-index: -1;
    font-size: 2rem;
}

.health, .armor {
    height: 1.3vh;
    bottom: 3vh;
    width: 7.2vw;
}

.health {
    position:absolute;
    left: 1.1vw;
    padding: 0;
    float: left;
}

.armor {
    position:absolute;
    left: 2.3vw;
    padding: 0;
    float: left;
}

.hunger, .thirst, .bleeding, .oxygen, .voice {
    position: absolute;
    bottom: 3vh;
    width: 3.65vw;
    height: 1.3vh;
    padding: 0;
    float:left;
}

.hunger {
    left: 3.6vw;
}

.thirst {
    left: 4.9vw;
}

.bleeding {
    left: 6.25vw;
}

.voice {
    left: 7.5vw;
}

.oxygen {
    left: 11.09vw;
}

.progress {
	-webkit-transition: 0.35s stroke-dashoffset;
	-o-transition: 0.35s stroke-dashoffset;
	transition: 0.35s stroke-dashoffset;
	-webkit-transform: rotate(140deg);
	-ms-transform: rotate(140deg);
	transform: rotate(140deg);
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.hungerBar, .thirstBar, .bleedingBar, .oxygenBar, .voiceBar {
    width: 100%;
    height: 100%;
    max-width: 100%;
    transition: 0.2s ease-in-out;
}

.ui-car-container {
    display: none;
}

/* Carhud Styling */

.ui-car-speed, .ui-car-fuel {
    font-size: 'Quicksand', sans-serif;
    font-size: 17px;
    position: absolute;
    text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.548), 1px 1px 2px rgba(0, 0, 0, 0.548), 1px -1px 0 rgba(0, 0, 0, 0.548), -1px -1px 0 rgba(0, 0, 0, 0.548);
    color: #ffffff;
    bottom:  3.8vh;
}

.ui-car-speed {
    left: 17vw;
}

.speed-type {
    position: relative;
    left: 0.3vw;
    bottom: 0.6vh;
    font-size: 10px;
    text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.548), 1px 1px 2px rgba(0, 0, 0, 0.548), 1px -1px 0 rgba(0, 0, 0, 0.548), -1px -1px 0 rgba(0, 0, 0, 0.548);
}

.ui-car-fuel {
    left: 21.2vw;
}

.fuel-label {
    position: relative;
    left: 0.2vw;
    bottom: 0.6vh;
    font-size: 10px;
    text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.548), 1px 1px 2px rgba(0, 0, 0, 0.548), 1px -1px 0 rgba(0, 0, 0, 0.548), -1px -1px 0 rgba(0, 0, 0, 0.548);
}

.speed-text, .fuel-text {
    color: rgba(255, 255, 255, 1.0);
    font-size: 18px;
}

.ui-car-street {
    font-size: 15px;
    position: absolute;
    bottom: 1.15vh;
    left: 17vw;
    text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.548), 1px 1px 2px rgba(0, 0, 0, 0.548), 1px -1px 0 rgba(0, 0, 0, 0.548), -1px -1px 0 rgba(0, 0, 0, 0.548);
    color: #ffffff;
}

.sep {
    color: rgba(232, 185, 14, 1.0);
}

.ui-car-seatbelt, .ui-car-cruise {
    font-size: 14px;
    position: absolute;
    color: #c92222;
}

.ui-car-seatbelt {
    left: 25vw;
    bottom: 4.2vh;
}

.ui-car-cruise {
    left: 28.5vw;
    bottom: 4.2vh;
}

.ui-car-time {
    font-size: 16px;
    position: absolute;
    bottom: 7vh;
    left: 17vw;
    color: #ffffff;
    text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.548), 1px 1px 2px rgba(0, 0, 0, 0.548), 1px -1px 0 rgba(0, 0, 0, 0.548), -1px -1px 0 rgba(0, 0, 0, 0.548);
}